#viewer-content {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

#viewer-content header {
  position: absolute;
  top: 0;
  height: 3.5rem;
  width: 100%;
  background: transparent;
  pointer-events: none;
  z-index: 10;
}

#viewer-content main {
  position: relative;
  z-index: 0;
}

#viewer-content header .interactable-container {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  pointer-events: auto;
}

#viewer-content header .interactable-container.hidden {
  visibility: hidden;
  pointer-events: none;
}

#viewer-content header .interactable-container.active,
.settings-popup {
  background-color: rgba(168, 170, 172, 0.4);
  backdrop-filter: blur(1px);
}

#viewer-content .interactable {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  background-color: gray;
  border-radius: 0.5rem;
  cursor: pointer;
}

#viewer-content .interactable img {
  aspect-ratio: 1;
  height: 100%;
}

.settings-popup {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 16rem;
  padding: 0.5rem 0;
}

.settings-popup-content .interactable {
  position: absolute;
  right: 0;
  margin: 0 1rem;
}

.infinite-scroll {
  height: 100vh;
  padding: 0 0.5rem;
  overflow-y: auto;
}