:root {
  color: black;
}

body {
  background-color: #b8b8b8;
}

#root {
  background-color: #ffff;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

#app-content input[type="file"] {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#app-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#app-content > * {
  padding: 0 5vw;
}

/* --- header --- */

#app-content header {
  position: sticky;
  top: 0;
  height: 10vh;
  background: linear-gradient(90deg,#3c3130 0%, #4b3f3d 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- main --- */

ul.book-list {
  padding: 0;
  display: grid;
  align-items: stretch; 
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: max-content;
  gap: 1.5em;
}

/* reduce element height when only one item can fit */
@media (max-width: 380px) {
  ul.book-list {
    align-items: start;
  }
}

/* --- book --- */

li.book {
  padding: 1rem;
  width: 100%;
  height: auto;
  max-height: 32rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 1rem;
  box-sizing: border-box;
  list-style-type: none; 
  display: flex;
  flex-direction: column;
  transition: transform .18s ease, box-shadow .18s ease;
}

li.book:hover{
  transform: translateY(-0.75rem);
  box-shadow: 0 14px 40px #24252614;
}

.book .cover {
  flex: 0 0 60%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;  
}

/* cover highlight on higher res*/
@media screen and (min-width: 768px) {
  .book .cover {
    padding: 0.5rem;
    background: linear-gradient(180deg,#f2f2f2,#e9e9e9);
    border-radius: 1rem;
  }
}

.cover img {
  border-radius: 1rem;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.book .details {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(0.5rem, 1vw, 1.5rem);
  overflow: hidden;
}

.book .details * {
  margin: 0;
  text-wrap: balance;
}

.book .details .title {
  color: black;
  font-weight: 600;
}

.book .details .author {
  color: #6b6b6b;
  font-size: 0.9rem;
}

/* --- buttons --- */

.upload-file, 
.book-handler {
  background-color: #12b0a0;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header button */
.upload-file {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

/* book button */
.book-handler {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

/* reduce size to fit book */
@media screen and (max-width: 800px) {
  .book .details .title {
    font-size: 0.85rem;
  }

  .book .details .author {
    font-size: 0.75rem;
  }

  .book-handler {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    border-radius: 0.4rem;
  }
}

.book-handler > *:first-child {
  flex: 1;
  aspect-ratio: 1;
}

/* interactables take 100% space and have a bg color */
#app-content .interactable,
#app-content .interactable > *:first-child {
  background-color: #14af9d;
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}