:root {
  color: black;
}

body {
  background-color: #b8b8b8;
}

#root {
  background-color: #ffff;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

#app-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#app-content > * {
  padding: 0 5vw;
}

/* --- header --- */

#app-content header {
  position: sticky;
  top: 0;
  height: 10vh;
  background-color: #4c3d38;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- main --- */

ul.book-list {
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.5em;
}

/* --- book --- */

li.book {
  list-style-type: none; 
  width: clamp(10em, 80%, 25rem);
  height: 24rem;
  display: flex;
  flex-direction: column;
}

.book .cover {
  flex: 0 0 60%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.cover img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.book .details {
  flex: 0 0 30%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.book .details * {
  margin: 0;
  text-wrap: balance;
}

.book .details .title {
  color: black;
  font-weight: 600;
}

.book .details .author {
  color: #a8aaac;
  font-size: 0.9em;
}

/* --- buttons --- */

.upload-file, 
.book-handler {
  background-color: #14af9d;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header button */
.upload-file {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

/* book button */
.book-handler {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

/* interactables take 100% space and have a bg color */
#app-content .interactable,
#app-content .interactable > *:first-child {
  background-color: #14af9d;
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}